@model TestModel;
@{
    ViewData["Title"] = "Debug";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <hr>
    <p>@Model.msg</p>
    <p>@Model.RealJson</p>
    <p>@Model.data1</p>
</div>
